
.containerMain{

    margin-top:60px;
}
.contentLogo{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    img{
        padding: 5%;
        width: 50%;
    }
}